.form {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.input {
	padding: 10px 20px;
	margin-right: 30px;
	width: 250px;
	height: 30px;
	border: 1px solid #ff8ba7;
	border-radius: 5px;
}
.input:hover,
.input:focus {
	outline-color: #ff8ba7;
}
.btn {
	border: none;
	font-size: 1.5em;
	font-weight: 700;
	padding: 10px 40px;
	background-color: #ff8ba7;
	color: white;
	border: 3px solid #ff8ba7;
	border-radius: 5px;
}
.btn:hover,
.btn:focus {
	background-color: #ff8ba7;
	outline: none;
	cursor: pointer;
}
